.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 38px 80px;
  color: #FF8A00;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  margin-right: 56px;
}

.header__link {
  text-decoration: none;
  color: inherit;
}

.header__button {
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  border-radius: 100px;
  color: #fff;
  width: 160px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.search {
  position: relative;
  height: 78px;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  border-radius: 15px;
  margin-top: 85px;
  padding-left: 30px;
  padding-right: 100px;
}

.search__input {
  background-color: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  margin-top: 15px;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

.search__imageLupa {
  position: absolute;
  top: 15px;
  right: 30px;
}

.slider {
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  height: 498px;
  left: 0px;
  top: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__content-left {
  position: relative;
  width: 70%;
  height: 490px;
}

.slider__content-right {
  position: relative;
  width: 30%;
  height: 490px;
}

.slider__text {
  position: relative;
  width: 1110px;
  height: 198px;
  top: 70px;
  font-family: Proxima Nova;
  font-size: 45px;
  color: #FFFFFF;
  text-align: center;
}

.slider__text_small {
  height: 69px;
  top: 10px;
  font-size: 30px;
}

.slider__frame {
  position: relative;
  width: 461px;
  height: 299px;
  top: 170px;
}

.filters {
  width: 900px;
  height: 45px;
  border: 1px solid orange;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Proxima Nova;
  font-size: 45px;
}

.films {
  width: 900px;
  border: 1px solid orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.films__card {
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 10px;
  border: 1px solid orange;
  margin-bottom: 25px;
  overflow: hidden;
}

.films__card img {
  max-width: 100%;
}

.films__label {
  position: absolute;
  top: 0;
  right: 0;
  background-color: orange;
  color: white;
  padding: 10px;
  border-bottom-left-radius: 10px;
}

.films__info {
  position: absolute;
  bottom: 0;
  background-color: orange;
  color: white;
  padding: 15px;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pagination {
  width: 380px;
  height: 60px;
  border: 1px solid orange;
  margin-top: 50px;
}

.footer {
  height: 114px;
  border: 1px solid orange;
  margin-top: 50px;
  font-family: Proxima Nova;
  font-size: 45px;
}

.filterFilm {
  width: 250px;
  height: 822px;
  border: 1px solid orange;
  margin-left: 15px;
  font-family: Proxima Nova;
  font-size: 45px;
}

.container {
  width: 1180px;
  margin: 0 auto;
  border: 1px solid orange;
}

.container__content {
  border: 1px solid orange;
  margin-top: 15px;
}

.container__content-left-right {
  border: 1px solid orange;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html, body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */