<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lamp cinema</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header">
        <img class="header__logo" src="/img/logo.jpg" alt="logo" height="80" width="100">
        <nav class="header__navigation">
            <ul class="header__menu">
                <li class="header__item">
                    <a href="/" class="header__link">Home</a>
                </li>
                <li class="header__item">
                    <a href="/cinema" class="header__link">Cinema</a>
                </li>
                <li class="header__item">
                    <a href="/about" class="header__link">About Us</a>
                </li>
                <li class="header__item">
                    <a href="/contact" class="header__link">Contact Us</a>
                </li>
            </ul>
            <a href="/login"><div class="header__button">Log in</div></a>
        </nav>
    </header>