.footer {
    height: 100px;
    font-family: Proxima Nova;
    background: #212121;
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  