.pagination {
    width: 380px;
    height: 60px;
    border: 1px solid orange;
    margin-top: 50px;
  }
.pagination__number {
  width: 60px;
  height: 60px;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  border-radius: 100px;
  font-family: Proxima Nova;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  margin: 10px;
}