<%- include("sections/header") %>

<div class="registration">
    <div class="registration__title">
        <h1>Registration</h1>
    </div>

    <form class="registration__body">
        <div>Name<input class="registration__input" type="text" name="text"></div>
        <div>Phone<input class="registration__input" type="text" name="text"></div>
        <div>Address<input class="registration__input" type="text" name="text"></div>
        <div>Email<input class="registration__input" type="text" name="text"></div>
        <button class="registration__button">Sign Up</button>
    </form>
</div>

<%- include("sections/footer") %>